<% layout('layouts/boilerplate') %>

    <div class="heading-main"> All Available Rents </div>
    <div class="d-flex flex-wrap">
        <% for(let rent of rents){ %>
            <div class="card mx-3 my-2" style="width: 18rem;">

                    <img src="<%= rent.images[0].url  %>" class=" img-fluid card-img-top" style="height: 11rem;" alt="...">
                <hr>
                
                <div class="card-body">
                    <small class=" text-muted card-text">
                        <%= rent.location %>
                    </small>
                    <p class="card-text">
                        <%= rent.description %>
                    </p>
                    <a href="/rent/<%= rent._id%>" class="btn btn-primary">VIEW <%= rent.title %></a>
                </div>
            </div>


            <% } %>
    </div>